In [2]:
list8 = [9, 77, 13, 51, 100, 3]
list8

[9, 77, 13, 51, 100, 3]

In [3]:
#.sort() -> 요소 값들을 비교하여 오름차순으로 정렬해주는 함수 원본값이 바뀜
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [4]:
# sorted() -> 원본 값은 그대로 두고, 값을 새롭게 복사해서 정렬
list8 = [9, 77, 13, 51, 100, 3]

In [5]:
list8

[9, 77, 13, 51, 100, 3]

In [6]:
print(sorted(list8))

[3, 9, 13, 51, 77, 100]

In [7]:
list8

[9, 77, 13, 51, 100, 3]

In [9]:
print(list8.sort())

None

In [10]:
list9 = [9, 77, 13, 51, 100, 3]
list9

[9, 77, 13, 51, 100, 3]

In [11]:
#reverse()
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [13]:
list10 = [9, 77, 13, 51, 100, 3]
list10.sort();
list10.reverse();
list10

[100, 77, 51, 13, 9, 3]

In [14]:
print(sorted(list9, reverse = True))

[100, 77, 51, 13, 9, 3]

In [15]:
list11 = ['a','b','c','d','e','f']
list11

['a', 'b', 'c', 'd', 'e', 'f']

In [16]:
# index() -> 찾고자 하는 값의 위치 변환
list11.index('c')

2

In [17]:
# pop() -> 마지막 값을 반환 한 후, 리스트에서 제거하는 함수
list11.pop()

'f'

In [18]:
list11

['a', 'b', 'c', 'd', 'e']

In [19]:
list11.pop(1)

'b'

In [20]:
list11

['a', 'c', 'd', 'e']

In [22]:
#리스트의 길이 구하기 -> len()
list12 = [0,1,2,3,4,5]
len(list12)

6

# tuple 사용하기

In [23]:
a = ()

In [24]:
print(type(a))

<class 'tuple'>

In [25]:
a = (1) #-> 정수형으로 저장

In [26]:
print(type(a)) # 튜플이아니네??

<class 'int'>

In [27]:
b = [1]
print(type(b))

<class 'list'>

In [29]:
a = (1,)
print(type(a)) # 뒤에 콤마를 해주면 튜플로 인식

<class 'tuple'>

In [30]:
a = ()
b = (1,2,3)
c = ('a','b','c')
d = (1,2,'a','b')
e = (1,2,('a','b'))

In [32]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [35]:
tuple1 = (0, 1, 2, 3,('a', 'b', 'c'), 5)

In [36]:
tuple1

(0, 1, 2, 3, ('a', 'b', 'c'), 5)

In [38]:
tuple1[2]

2

In [41]:
#인덱싱을 통하여 '2'라는 값 찾아오기
tuple1[2]
#('a','b','c') 찾아오기
tuple1[4]

('a', 'b', 'c')

In [42]:
#tuple1의 길이구하기
len(tuple1)

6

In [43]:
tuple[0] = 6 #튜플은 수정이 안되요 불변적

TypeError: 'tuple' object does not support item assignment

In [44]:
1 in list10

False

In [46]:
not 1 in list10

True

In [48]:
str1 = "파이썬 최고"
"파이썬" in str1

True