In [1]:
1+1

2

In [ ]:
조국희

Question01

# Question01

Question02

# 제목

### 제목

##### 제목

###### 제목

In [4]:
a = 3
a

3

In [5]:
b = 4
b

4

In [6]:
c = 5

In [8]:
int(input("숫자를 입력하세요 >> "))

숫자를 입력하세요 >> 3

3

In [9]:
1+100 # 나를 설명하는 한명과 나를 좋아하는 사람 100명

101

In [11]:
# 안녕하세요
# 저는 조국희 학생입니다.
# 잘 부탁드립니다.

In [12]:
num = 3
print(num)

3

In [13]:
num

3

In [14]:
num = 4
num

4

In [15]:
num == 4

True

In [16]:
num == 3

False

In [17]:
name = "조국희"
name

'조국희'

In [18]:
num = 5

In [19]:
num + 1

6

In [20]:
num = "5"

In [21]:
num + 1

TypeError: can only concatenate str (not "int") to str

In [22]:
int(num) + 1

6

In [23]:
int(name)

ValueError: invalid literal for int() with base 10: '조국희'

In [25]:
num1 = 13
num2 = 25

In [28]:
num2 = 77

In [29]:
num1 + num2

90

In [31]:
num3 = 3.1425
num4 = 1.25
num5 = 3.2

In [32]:
num3 + num4

4.3925

In [33]:
str1 = "Funny python"
str1

'Funny python'

In [34]:
str2 = "Easy python"
str2

'Easy python'

In [35]:
number = 10
Number = 20
print("number :",number)
print("Number :",Number)

number : 10
Number : 20

In [36]:
num1_num2 = 10
num1_num2

10

In [37]:
1a = 10

SyntaxError: invalid syntax (<ipython-input-37-1be9f8edb7cd>, line 1)

In [38]:
"Life is too short, You need Python"
"a"
"123"

'123'

In [39]:
"""Hello, World"""

'Hello, World'

In [40]:
if = 30
if

SyntaxError: invalid syntax (<ipython-input-40-23187ed1a6a1>, line 1)

In [41]:
import keyword

In [43]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [52]:
a = 10
b = 15
print(a)
print(b)

10
15