# 치환

In [1]:
a = 10
b = 15
print(a)
print(b)

10
15

In [2]:
a, b = 10, 15
print(a)
print(b)

10
15

In [3]:
str1 = str2 = "python"
print(str1)
print(str2)

python
python

In [1]:
x = 100
y = 200
sum = x + y
print(sum)

300

In [2]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit == 10:
        print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [3]:
str1 = "she's gone"
str1

"she's gone"

In [4]:
s1 = "she\'s gone"
print(s1)

she's gone

In [6]:
s1= """she\'s gone"""
print(s1)

she's gone

In [11]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [12]:
s1 = 'Life is too short \n "You need Python"'
print(s1)

Life is too short
 "You need Python"

In [17]:
s = "조국희입니다. \n안녕하세요 인공지능여러분"

In [15]:
print(s)

조국희입니다.
 안녕하세요 인공지능여러분

In [18]:
s

'조국희입니다. \n안녕하세요 인공지능여러분'

In [24]:
str = "조국희입니다. \n\n\t안녕하세요 \n\t\t인공지능여러분"
print(str)

조국희입니다.

	안녕하세요
		인공지능여러분

In [35]:
for sum in range(1, 10, 1):
    print(sum)

1
2
3
4
5
6
7
8
9

In [38]:
s = '''여러줄로 구성된 
문자열을 하나로 
대입할 떄'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 떄

In [39]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

# 문자열 인덱싱, 슬라이싱

In [40]:
s = "My name is SM"
print(s)

My name is SM

In [42]:
s[0]

'M'

In [43]:
s[0:8]

'My name '

In [49]:
s[3:7]

'name'

In [50]:
print(s[3:7])

name

In [52]:
print(s[-5:])

is SM

In [53]:
print(s[8:])

is SM

In [54]:
print(s[:])

My name is SM

In [55]:
print(s)

My name is SM

In [64]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 :", s[:11])
print("날씨 :", s[-6:-4])

날짜 : 2020년 3월 3일
날씨 : 맑음

In [65]:
str1 = "오늘은 7월 7일 입니다."
str1

'오늘은 7월 7일 입니다.'

In [66]:
day = 8

In [67]:
day

8

In [68]:
day = 7
s = "오늘은 7월 %d 일 입니다." %day
s

'오늘은 7월 7 일 입니다.'

In [69]:
day = 8
s = "오늘은 7월 %d 일 입니다."%day

In [70]:
s

'오늘은 7월 8 일 입니다.'

In [71]:
year = 2020
year

2020

In [73]:
str1 = "이번년도는 %d년 입니다."%year
str1

'이번년도는 2020년 입니다.'

In [74]:
month = 7
day = 7
s = "오늘은 %d월 %d일 입니다."%(month,day)
s

'오늘은 7월 7일 입니다.'

In [75]:
print(s)

오늘은 7월 7일 입니다.

In [76]:
year = 2020
month = 7
day = 9
s = "오늘은 %d년 %d월 %d일 입니다."%(year,month,day)
s

'오늘은 2020년 7월 9일 입니다.'

In [80]:
name = "Gukhui"
str2 = "my name is %s."%name
str2

'my name is Gukhui.'

In [85]:
name1 = "G"
str2 = "my name1 is %c."%name1
str2

'my name1 is G.'

In [86]:
pie = 3.14159
str3 = "cirle round is %f...."%pie

In [87]:
str3

'cirle round is 3.141590....'

In [88]:
month = 7
day = 7
s = "Today is {}month {}day.".format(month, day)
s

'Today is 7month 7day.'

In [89]:
x = 100
y = 200
sum = x + y
print("{}와 {}의 합은 {}입니다.".format(x, y, sum))

100와 200의 합은 300입니다.

# 연산자

In [90]:
num1 = 10
num2 = 7

print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [92]:
str1 = "안녕"
str2 = "하세요"

print(str1 + str2)

안녕하세요

In [93]:
str1 = "10"
str2 = "7"

print(int(str1)+int(str2))

17

In [94]:
num1 = 10
str2 = "7"

print(num1 + str2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [95]:
num1 = 10
str2 = "7"

print(str(num1) + str2)
print(num1 + int(str2))

TypeError: 'str' object is not callable

In [97]:
num1 = 23
num2 = 3
print("더하기 결과 : {}".format(num1+num2))
print("빼기 결과 : {}".format(num1-num2))
print("곱하기 결과 : {}".format(num1*num2))
print("나누기 결과 : {}".format(num1/num2))

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [99]:
num1 = 23
num2 = 3
print("더하기 결과 : %d"%(num1+num2))
print("빼기 결과 : %d"%(num1-num2))
print("곱하기 결과 : %d"%(num1*num2))
print("나누기 결과 : %f"%(num1/num2))

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666667

In [100]:
num = input("정수를 입력하세요 >> ")
num

정수를 입력하세요 >> 4

'4'

In [101]:
num = int(input("정수를 입력하세요 >> "))

정수를 입력하세요 >> 100

In [102]:
num

100

In [103]:
num1 = int(input("정수를 입력하세요 >> ")) #키보드 입력
num2 = int(input("정수를 입력하세요 >> ")) #키보드 입력
print("더하기 결과 : %d"%(num1+num2))
print("빼기 결과 : %d"%(num1-num2))
print("곱하기 결과 : %d"%(num1*num2))
print("나누기 결과 : %f"%(num1/num2))

정수를 입력하세요 >> 99
정수를 입력하세요 >> 57
더하기 결과 : 156
빼기 결과 : 42
곱하기 결과 : 5643
나누기 결과 : 1.736842

In [137]:
time = int(input("초 입력 >> "))
hour = int(time/3600)
minute = int(time/60)
second = time%60
print("{}시간 {}분 {}초".format(hour, minute, second))

초 입력 >> 7533
2시간 125분 33초

In [139]:
time = int(input("초 입력 >> "))
hour = time//3600
minute = time%3600//60
second = time%60
print("{}시간 {}분 {}초".format(hour, minute, second))

초 입력 >> 7533
2시간 0분 33초

In [140]:
s = "x"
print(s*10)

xxxxxxxxxx

In [141]:
s = "안녕하세요"
print(s*2)

안녕하세요안녕하세요

In [142]:
num = int(input("정수 입력"))
power = int(input("지수 입력"))
print("{}의 {}승은 {}입니다".format(num, power, num**power))

정수 입력3
지수 입력6
3의 6승은 729입니다

In [143]:
a = 3
b = a+1
b = b+3 # b+=3으로 쓸 수 있음
b

7